* {
    margin: 0;
    font-family: sans-serif;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    display: inline;
    margin-top: 5px;
    margin-right: 32px;
    margin-bottom: 8px;
    float: right;
    border: 2px solid #146c94;
    padding: 4px 16px ;
    border-radius: 8px;
  }
  
  li:hover{
    background-color: #a1dcf8;
    color: black;
    box-shadow: black;
  }
  
  .nav #logo{
    color: white;
    font-weight: bolder;
    float: left;
    font-size: large;
    margin-top: 6px;
    border: none;
  }
  .nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  .nav {
    background-color: #146c94;
    height: 42px;
  }
  
  .map {
    float: right;
    margin: 12px auto;
  }
  
  .map p{
    margin: 0 auto;
    width: fit-content;
    margin-top: -16px;
    margin-bottom: 16px;
    border: 1px solid #146c94;
    padding: 4px 16px;
    border-radius: 8px;
    font-family: cursive;
    box-shadow: 3px 3px #146c94;
    font-size: large;
  }
  
  .section {
    width: 800px;
    height: 800px;
  }
  
  .section h2 {
    margin: 32px auto;
    width: fit-content;
  }
  
  .card {
    width: 350px;
    height: 280px;
    border: 2px solid #146c94;
    margin-left: 30px;
    margin-top: 16px;
    float: left;
    border-radius: 8px;
    background-color: #146b9414;
  }
  
  .card img {
    width: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
  }
  
  .card p {
    margin: 16px auto;
    width: fit-content;
    font-weight: bold;
  }
  
  .card button {
    display: block;
    margin: 10px auto;
    background-color: #146c94;
    color: white;
    border-radius: 18px;
    padding: 8px 16px;
    font-weight: bold;
    border: none;
  }
  
  .card button:hover{
    color: black;
    background-color: #a1dcf8;
  }
  
  .title{
    text-decoration: underline;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    margin-left: 25%;
    background-color: rgb(219, 230, 248);
    font-size: x-large;
    border: 5px solid #146c94;
    width: 50%;
    border-radius: 10px;
    box-shadow:10px 5px 2px 2px  grey;
  }
  
  .content_card {
    transition: all 1s ease;
    height: 250px;
    background-color: #146b9414 ;
    width: 1000px;
    border: 3px solid #146c94;
    margin: 32px auto;
    border-radius: 8px;
    box-shadow:10px 5px 2px 2px  grey;
  }
  
  .content_card:hover {
    transform: scale(1.09);
  }
  
  .content h2{
    width: fit-content;
    margin: 32px auto;
  }
  
  .content div:nth-child(1){
    margin-top: 64px;
  }
  
  .content_card h2{
    margin: 8px 0px 8px 8px;
    width: fit-content;
    font-size: 24px;
  }
  
  .content_card img{
    border-radius: 8px;
    margin-top: 8px;
    margin-left: 8px;
    height: 180px;
    width: auto;
  }
  
  .content_card p{
    margin-top: -16px;
    width: 700px;
    float: right;
  }
  
  .footer{
    height: 50px;
    color: white;
    background-color: #146c94;
    padding-top: 40px;
  }
  
  .footer p{
    margin: 0 auto;
    width: fit-content;
  }
  
  .loginbox{
    position: relative;
    margin-top: 1%;
    margin-left: 30%;
    margin-bottom: 20%;
    width: 35%;
    height: 60%;
    border: 3px solid black;
    box-shadow: 5px 5px grey;
    border-radius: 20px;
    padding: 40px;
    background: linear-gradient(rgb(246, 96, 96),rgb(140, 186, 241));
  }
  
  .labels{
    color: rgb(255, 247, 240);
    font-size: x-large;
  }
  
  #name{
    margin: 10px;
    padding: 15px;
    width: 230px;
    border-radius: 10px;
  }
  
  #password{
    margin: 14px;
    padding: 15px;
    width: 230px;
    border-radius: 10px;
  }
  
  .btn{
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(to left, rgb(10, 9, 9), grey);
  }
  
  .btn:active {
    background:linear-gradient(to left, rgb(10, 9, 9), grey);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgba(255, 255, 255, 0.8);
    background: rgb(145, 92, 182);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #146c94;
    border: black 2px;
    transition: all 0.2s ease-in-out;
    
  }
  .dropdown-content a:hover{
    transform: scale(1.09);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    
  }
  
  .flightlink{
    border: blue 3px;
    display: none;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .location_card {
    position: fixed;
    border: 2px solid #146c94;
    height: 600px;
    width: 600px;
    background-color: #d8f4ff;
    margin-left: 500px;
    border-radius: 8px;
    margin-bottom: 64px;
    visibility: hidden;
  }
  
  .location_card .close {
    height: 30px;
    width: 30px;
    float: right;
    margin-right: 4px;
    margin-top: 4px;
  
  }
  